div.st-emotion-cache-asc41u.e1nzilvr2 > h1{
    text-align: center;
    background-color: lightskyblue;
    border-radius: 50px;
    box-shadow: 0 0 100px rgba(138, 231, 238, 0.842);
}

div.st-emotion-cache-1v0mbdj.e115fcil1 > img {
    border-radius: 100px;
}

section.main.st-emotion-cache-bm2z3a.ea3mdgi8 {
    background-color: aliceblue;
}

header.st-emotion-cache-12fmjuu.ezrtsby2 {
    background-color: hwb(154 56% 6%);
}

div.st-emotion-cache-6qob1r.eczjsme8 {
    background-color: lightpink;
}

div > a.st-emotion-cache-nziaof eczjsme11 > .st-emotion-cache-nziaof:active, .st-emotion-cache-nziaof:visited, .st-emotion-cache-nziaof:hover {
    background-color: crimson;
}

div > a.st-emotion-cache-18l0hbk.eczjsme11 > .st-emotion-cache-18l0hbk:active, .st-emotion-cache-18l0hbk:visited, .st-emotion-cache-18l0hbk:hover {
    background-color: crimson;
}

div.row-widget.stButton {
    text-align: center;

}

button.st-emotion-cache-7ym5gk.ef3psqc12 {
    background-color: rgb(160, 239, 108);

}

div.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-ak.st-al.st-am.st-an.st-ao.st-ap.st-aq.st-ar.st-as.st-at.st-au.st-av.st-aw.st-ax.st-ay.st-az.st-b0.st-b1.st-b2.st-b3.st-b4.st-b5.st-b6.st-b7.st-b8.st-b9.st-b6 {
    border-bottom-color: rgb(131, 26, 192);
}

div.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-ak.st-al.st-am.st-an.st-ao.st-ap.st-aq.st-ar.st-as.st-at.st-au.st-av.st-aw.st-ax.st-ay.st-az.st-b0.st-b1.st-b2.st-b3.st-b4.st-b5.st-b6.st-b7.st-b8.st-b9.st-b7 {
    border-top-color: rgb(26, 184, 192);
}